
	.responsivenav {
		position: fixed;
		width: 100%;
		display: block;
		padding: 0;
		margin: 0 auto;
		display: none;
		height: 50px;
		z-index: 99999;
		background: black;
	}

	.logonav {
		background-color: black;
		width: 100%;
		margin: 0;
		padding: 0;
		text-align: center;
		img {
			height: 45px;
			padding: 10px 0;
		}
	}
	.navigation {
		width: 100%;
		background-color: $navgreen;
		box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
		margin: 0;
		padding: 0;
		ul{
				text-align: center;
				padding: 5px 0;
				margin: 0;
				li {
					font-size: 14px;
					display: inline;
					margin-right: 30px;
					a {
						color: white;
						text-decoration: none;
						transition: color 0.5s ease;
						&:hover {
							color: black;
						}
					}
				}
			}
		}
	
	@media all and (max-width: 480px) {
		.responsivenav {
			display: block;
		}
	}
